.landingPage{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.landingPage_intro{
  position: absolute;
  background-color: white;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 1s;
}

.landingPage_intro button{
  width: 30%;
  height:2em;
  background-color: white;
  border: 3px solid rgb(218, 211, 7);
  font: 1.23em bold;
}

.landingPage_intro button:hover{
  cursor: pointer;
  background-color: rgb(161, 161, 240);
}


.landingPage_intro.active{
  position: absolute;
  animation: rightShift linear 0.87s forwards;
}


@keyframes rightShift {
  from{right:0vw}
  to{right:-100vw;}
}